@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  background: #000000;
  font-family: 'Courier New', Courier, monospace;
}

@keyframes drawStroke {
  to {
    stroke-dashoffset: 0;
  }
}